PLANBOARD_DATA_SOURCE=firebase
PLANBOARD_API_BASE_URL=
PLANBOARD_FIREBASE_API_KEY=AIzaSyAAVKSK--RcOdpekEck6r-eGalGOa3kJ5U
PLANBOARD_FIREBASE_AUTH_DOMAIN=minitasks-ndh.firebaseapp.com
PLANBOARD_FIREBASE_PROJECT_ID=minitasks-ndh
PLANBOARD_FIREBASE_STORAGE_BUCKET=minitasks-ndh.firebasestorage.app
PLANBOARD_FIREBASE_MESSAGING_SENDER_ID=993367598051
PLANBOARD_FIREBASE_APP_ID=1:993367598051:web:890f76192d14f029d7b6d6
PLANBOARD_FIREBASE_SDK_VERSION=12.4.0
