PLANBOARD_DATA_SOURCE=firebase
PLANBOARD_API_BASE_URL=
PLANBOARD_FIREBASE_API_KEY=
PLANBOARD_FIREBASE_AUTH_DOMAIN=
PLANBOARD_FIREBASE_PROJECT_ID=
PLANBOARD_FIREBASE_STORAGE_BUCKET=
PLANBOARD_FIREBASE_MESSAGING_SENDER_ID=
PLANBOARD_FIREBASE_APP_ID=
PLANBOARD_FIREBASE_SDK_VERSION=12.4.0
